# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

a.out

recommandations.xcodeproj/project.pbxproj

recommandations.xcodeproj/project.xcworkspace/contents.xcworkspacedata

recommandations.xcodeproj/project.xcworkspace/xcshareddata/recommandations.xccheckout

recommandations.xcodeproj/project.xcworkspace/xcuserdata/ken.xcuserdatad/UserInterfaceState.xcuserstate

recommandations.xcodeproj/xcuserdata/ken.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist

recommandations.xcodeproj/xcuserdata/ken.xcuserdatad/xcschemes/recommandations.xcscheme

recommandations.xcodeproj/xcuserdata/ken.xcuserdatad/xcschemes/xcschememanagement.plist
